.formElement {
    position: relative;
    margin: 0.5rem;
    background-color: var(--color1);
    border-radius: 45px;
    width: 230px;
    height: 400px;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
}