.wrapper {
    background: grey;
    border-radius: 45px;
    border: 2px solid black;
    width: clamp(95%, 600px, 50%);
    height: clamp(80vh, 600px, 50vh);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }