.wrapper {
    position: relative;
    background-image:  url("../public/images/stars.svg");
    background-size: cover;
    /* background: var(--color1); */
    border-radius: 45px;
    border: 5px solid var(--color1);
    width: 95%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: var(--fadeIn);
  }
