.container {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}

.counter {
    text-align: center;
}

.breathBubbleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.breathBubble {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hidden {
    display: none;
}