.sessionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
}

.spinningLoader {
  width: 80px;
  height: 80px;
  background-image: url(../public/images/spinningLoader.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  margin-bottom: 1rem;
}

.readyBtn {
  margin-top: 1rem;
  border: var(--borderStyle);
}

.roundContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.hidden {
  display: none;
}
