.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introInfo {
    text-align: center;
}

.title {
    position: absolute;
    top: -2rem;
    text-align: center;
}

.counter {
    text-align: center;
}

.breathBubbleContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.breathBubble {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.timerContainer {
    position: absolute;
    bottom: -3rem;  
}

.pauseBtn,
.playBtn {
    position: absolute;
    bottom: -1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
}

.pauseBtn {
    background-image: url(../public/images/pause.svg);
}

.playBtn {
    background-image: url(../public/images/play.svg);   
}

.pauseBtn:hover,
.playBtn:hover {
    cursor: pointer;
}

.pause {
    font-size: 3rem;
    opacity: 50%;
    z-index: 2;
    position: absolute;
}

/* .hidden {
    opacity: 0;
} */