.infoContainer {
    background: white;
    border-radius: 45px;
    height: 90%;    
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    margin-top: 30px;
}

.btn:hover {
    width: 40%;
}

.hidden {
    display: none;
}
