.container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allInputsDiv {
    display: flex;
}

.formElement {
    position: relative;
    margin: 0.5rem;
    background-color: var(--color1);
    border-radius: 45px;
    width: 230px;
    height: 400px;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
}

.typeOfRoundContainer {
    position: absolute;
    top: 1rem;
    width: 70%;   
    height: 25px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggleRoundTypeIcon {
    width: 22px;
    height: 22px;
    background-image: url(../public/images/next.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.typeOfRound {
    font-style: italic;
}

.roundNumberAndRemoveCopyContainer {
    position: absolute;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roundNumber {
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.roundSpecificDiv {
    width: 90%;
    position: absolute;
    top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.breathsInputDiv,
.holdInputDiv {
    width: 180px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    font-size: 1.1rem;
}

.paceText {
    font-size: 1.1rem;
}

.openUpSelectorsBtn,
.copyBtn,
.removeBtn {
    background: none;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 0;
}

.openUpSelectorsBtn {
    background-image: url(../public/images/arrowsBlack.svg);
}

.removeBtn {
    background-image: url(../public/images/remove.svg);
}

.copyBtn {
    background-image: url(../public/images/copy.svg);
    margin-left: 1rem;
}

.removeAndCopyDiv {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 0.5rem;
}

/* .slider {
    
} */

.box {
    margin-top: 3rem;
    height: 10px;
    width: 10px;
    background-image: url('../public/images/box.svg');
    background-repeat: no-repeat;
}

.showValueField {
    width: 100%;
} 

.addBtn,
.disabledBtn {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    box-shadow: var(--boxShadow);

}

.disabledBtn {
    background-color: grey;
    opacity: 60%;
}

.submitBtn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    box-shadow: var(--boxShadow);

}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .allInputsDiv {
        flex-direction: column;
        align-items: center;
    }  
    .container {
        align-items: center;
    }
}