.container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
}

.allInputsDiv {
    display: flex;
}

.formElement {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: var(--borderStyle)
}

.breathsInputDiv,
.holdInputDiv {
    width: 180px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
}

.openUpSelectorsBtn,
.copyBtn,
.removeBtn {
    background: none;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 0;
}
.openUpSelectorsBtn {
    background-image: url(../public/images/arrows.svg);
}

.removeBtn {
    background-image: url(../public//images/remove.svg);
    margin-right: rem;
}

.copyBtn {
    background-image: url(../public//images/copy.svg);
    margin-left: 1rem;
}

.removeAndCopyDiv {
    display: flex;
    justify-content: center;
    width: 80%;
}

/* .slider {

}

.showValueField {
} */

.addBtn,
.disabledBtn {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.disabledBtn {
    background-color: grey;
    opacity: 60%;
}

.submitBtn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/* .hidden {
    display: none;
} */

@media screen and (max-width: 600px) {
    .allInputsDiv {
        flex-direction: column;
        align-items: center;
    }  
    .formElement { 
        border-right: 0;
        border-bottom: var(--borderStyle)
    }  
    .container {
        align-items: center;
    }
}