.header {
  position: relative;
  display: flex; 
  height: 15vh;
  width: 100%;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.title {
  cursor: pointer;
  font-size: 3rem;
  text-shadow: var(--textShadow);
  color: var(--color1);
}

.info {
  color: var(--color1);
}

.signedInDiv {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.myPage {
  margin-right: 1rem;
  border-bottom: var(--borderStyle);
  cursor: pointer;
  color: var(--color1);
  text-shadow: var(--textShadow)
}

@media screen and (max-width: 450px) {
  .myPage {
    width: 50px;
    font-size: 1rem;
    margin-right: 0;
  }  
  .info {
    display: none;
  }
  .title {
    font-size: 2rem;
  }
}
