.header {
  position: relative;
  display: flex; 
  height: 15vh;
  width: 100%;
}

.infoDiv {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.title {
  cursor: pointer;
  font-size: 3rem;
  text-shadow: var(--textShadow);
  color: var(--color1);
}

.info {
  color: var(--color1);
}

.buttonsDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  padding-right: 1.5rem;
  color: var(--color1);
  text-shadow: var(--textShadow);
}

.myPage {
  margin-right: 0.5rem;
  cursor: pointer;
} 

.favoritesCount {
  margin-right: 1rem;
}

@media screen and (max-width: 720px) {
  .info {
    display: none;
  }  
  .myPage {
    font-size: 1.2rem;
  }  
}

@media screen and (max-width: 450px) {
  .myPage {
    font-size: 1rem;
    margin-right: 0;
  }  
  .title {
    font-size: 2rem;
  }
  .favoritesCount {
    display: none;
  }
  .signOutBtn {
    width: 75px;
    height: 60px;
  }
}
