.header {
  position: relative;
  display: flex; 
  height: 100%;
  width: 100%;
}

.infoDiv {
  display: flex;
  flex-direction: column;
}

.title {
  cursor: pointer;
  font-size: 3rem;
  text-shadow: var(--textShadow);
  color: var(--color1);
}

.info {
  color: var(--color1);
}

.signedInDiv {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.myPage {
  margin-right: 1rem;
  border-bottom: var(--borderStyle);
  cursor: pointer;
  color: var(--color1);
  text-shadow: var(--textShadow)
}
