.itemWrapper1,
.itemWrapper2,
.itemWrapper3 {
    position: relative;
    background-color: var(--color1);
    background-size: cover;
    border-radius: 20px; 
    box-shadow: var(--boxShadow);
    padding: 5px;
    margin: 5%; 
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* .itemWrapper1 {
    border: 5px solid green;
}

.itemWrapper2 {
    border: 5px solid blue;
}

.itemWrapper3 {
    border: 5px solid black;
} */

.itemWrapper1:hover,
.itemWrapper2:hover,
.itemWrapper3:hover {
    cursor: pointer;
}

.title {
    width: 100%;
    margin: 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line {
    width: 80%;
    border-bottom: var(--borderStyle); 
}

.roundsInfo {
    margin-top: 1rem;
}

.holdsInfo {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.singleHoldInfo,
.singleBoxInfo {
    padding: 0 0.4rem;
    margin: 0.3rem 0;
    border-right: 1px solid grey;
}

.sessionTypeDsc {
    text-align: center;
    border-radius: 10px;
    font-weight: lighter;
    font-size: 0.9rem;
    font-style: italic;
    position: absolute;
    bottom: 1rem;
    right: 1.2xrem;
}

@media screen and (max-width: 675px) {
    .itemWrapper1,
    .itemWrapper2,
    .itemWrapper3 {
        height: 100px;
        align-items: flex-start;
    }

    .line {
        margin-left: 1rem;
    }

    .title {
        width: auto;
        white-space: nowrap;
        font-size: 1.2rem;
        margin: 0.5rem 0 0.5rem 0.5rem;
    }

    .roundsInfo {
        margin-left: 4.5rem;
    }

    .holdsInfo {
        display: none;
    }

    .sessionTypeDsc {
        top: 1rem;
        right: 1rem;
    }
}