.itemWrapper1,
.itemWrapper2,
.itemWrapper3 {
    position: relative;
    background-color: var(--color1);
    background-size: cover;
    border-radius: 20px; 
    box-shadow: var(--boxShadow);
    padding: 5px;
    margin: 5%; 
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* .itemWrapper1 {
    border: 5px solid green;
}

.itemWrapper2 {
    border: 5px solid blue;
}

.itemWrapper3 {
    border: 5px solid black;
} */

.itemWrapper1:hover,
.itemWrapper2:hover,
.itemWrapper3:hover {
    cursor: pointer;
}

.title {
    width: 100%;
    margin: 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line {
    width: 80%;
    border-bottom: var(--borderStyle); 
}

.roundsInfo {
    margin-top: 1rem;
}

.holdsInfo {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.singleHoldInfo,
.singleBoxInfo {
    padding: 0 0.4rem;
    margin: 0.3rem 0;
    border-right: 1px solid grey;
}

    .lungs {
        width: 30px;
        height: 30px;
        background-image: url('../public/images/lungs.svg');
        background-repeat: no-repeat; 
        position: absolute;
        bottom: 0.5rem;
        right: 0.8rem;
    }

    .box {
        width: 25px;
        height: 25px;
        margin-left: 0.2rem;
        background-image: url('../public/images/box.svg');
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0.6rem;
        right: 0.8rem;
    }

    .mix {
        width: 25px;
        height: 25px;
        margin-left: 0.2rem;
        background-image: url('../public/images/mix.svg');
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0.6rem;
        right: 0.8rem;
    }

@media screen and (max-width: 675px) {
    .itemWrapper1,
    .itemWrapper2,
    .itemWrapper3 {
        height: 100px;
    }

    .title {
        font-size: 1.2rem;
    }

    .roundsInfo {
        display: none;
    }

    .holdsInfo {
        margin-top: 0.5rem;
    }
}