.itemWrapper {
    background-color: grey;
    border-radius: 20px; 
    padding: 10px;
    margin: 5%; 
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: height 1s ease-in-out;
    overflow: hidden;
}