
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');

:root {
  padding: 0;
  margin: 0;
  font-family: 'Kotta One', serif;
  background-color: black;
  --font: 'Kotta One', serif;
  --color1: #88deed;
  --color2: #58a685;
  --gradient1: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(59, 7, 164) 100%);
  --gradient2: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(113,7,7,1) 23%, rgba(155,159,27,1) 49%, rgba(0,27,126,1) 100%);
  --fadeIn: fadeIn 1s linear 1;
  /* animation: var(--fadeIn); */
}

button {
  width: clamp(80px, 30%, 200px);
  background: var(--color1);
  font-family: inherit;
  border: none;
  border-radius: 45px;
  width: 150px;
  height: 50px;
  transition: height 250ms, font-size 250ms;
}

button:hover {
  cursor: pointer;
}

@keyframes fadeIn {
    0% {opacity: 0%}
    100% {opacity: 100%}
}




