.centerDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.formBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  box-shadow: var(--boxShadow);
}

.backBtn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  box-shadow: var(--boxShadow);
}

.hidden {
  display: none;
}

