.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 3rem;
    margin-top: 2rem;
}

.whatToShowButtonsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 1rem;
}

.diaryContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.favContainer {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.backBtn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    box-shadow: var(--boxShadow);
  }

.backBtnDiv,
.forwardBtnDiv {
    position: absolute;
    top: 8rem;
    width: 50px;
    display: flex;
}

.backBtnDiv {
    left: 1rem;
}

.forwardBtnDiv {
    right: 1rem;
}

.btnForward,
.btnBack {  
    background: none;
    background-image: url('../public/images/arrows.svg');
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}